{% extends 'base.html' %}

{% block title %}Summarizer{% endblock %}

{% block content %}
    <div class="mx-auto" style="width: 500px;">
        <div class="my-5" style="height: 200px;">
            <form action="summary" method="post">
                <div class="form-group">
                    <h1><label>Enter Website Address</label></h1>
                    <input type="url" class="form-control" name="raw_url" placeholder="https://www.example.com/" required>
                </div>
                    <input class="btn btn-primary" type="submit" name="submit" value="summarize">
            </form>
        </div>
    </div>
    {% endblock %}
